body {
    margin: 0;
    padding: 0;
    background-color: #cce6fa;
}

* {
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.item1 {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 600px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.item1 {grid-area: header;}
.item2 {grid-area: main;}
.item3 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 80% auto;
    height: 100vh;
}

.grid-container .item1{
    display: flex;  
}

.grid-container .item1 #sidebarBtn{
    width: 34%;
    justify-content: left;
    text-align: left;
}

.grid-container .item1 #webname{
    width: 33%;
}

.grid-container .item1 #formatting{
    width: 33%;
}

.grid-container>div {
    text-align: center;
    font-size: 30px;
}